.welcome{
  background: radial-gradient(50% 50% at 50% 50%, rgb(39,34,66) 0%, rgb(18, 18, 25) 100%);
  padding: 60px;
  color: white;
  /* text-align: center; */
  width: 100%;
  height: 100vh;
}
.welcomeLogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  background: linear-gradient(
    110deg,
    rgb(237, 110, 70) 0%,
    rgb(103, 70, 237) 100%
  );
  background-clip: text;
  color: transparent;
  cursor: pointer;
}
.welcomeLogo img{
  width: 300px;
  right: auto;
}
.welcomeSubhead{
  background: linear-gradient(
    92deg,
    rgb(237, 110, 70) 33.99%,
    rgb(103, 70, 237) 69.24%
  );
  background-clip: text;
  color: transparent;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 6.93px;
  text-align: center;
}
.welcomeHead{
  text-align: center;
  background: linear-gradient(110deg, rgb(237,110,70) 0%, rgb(103, 70, 237) 100%);
  background-clip: text;
  color: transparent;
  /* font-size: 122px; */
  font-size: 10vw;
  font-weight: 200;
  letter-spacing: -4px;
}
.welcomeSubhead2{
  text-align: center;
  color: #e0dbff8a;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.43px;
  margin: 50px 0 0 10px;

}
.welcomeButtons{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.welcomeButtons button{
  width: 200px;
  height: auto;
  align-items: center;
  border-radius: 22px;
  border: none;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: linear-gradient(
    110deg,
    rgb(237, 110, 70) 0%,
    rgb(103, 70, 237) 100%
  );
  color: rgba(255, 255, 255, 1);
  margin: 40px 110px;
}
@media only screen and (max-width: 1050px) {
  .welcome{
    padding: 20px;
  }
  .welcomeLogo{
    margin: 10px 0 50px 0;
  }
  .welcomeLogo p{
    padding: 0 0 0 10px;
    font-size: 20px;
  }
  .welcomeLogo img{
    width: 200px;
  }
 .welcomeSubhead{
  font-size: 11px;
 }
 .welcomeHead{
  /* font-size: 80px; */
  letter-spacing: 0px;
  padding: 10px 0 10px 0;
 }
 .welcomeButtons{
  flex-direction: column;
  align-items: center;
 }
 .welcomeButtons button{
  margin: 80px 110px 0 110px;
 }
}

@media only screen and (max-width: 650px){
  .welcomeHead{
    /* font-size: 40px; */
  }
}